.top-header {
  background: #333;
  padding: 8px 0px 3px;
  height: 6vh;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.th-main {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  flex-wrap: wrap;
  margin-top: -10px;
}
.th-main ul li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
.th-main ul li a.link {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 8px;
  cursor: pointer;
}
.th-right {
  margin-right: 100px;
}
.th-right ul {
  margin-bottom: 8px;
  display: flex;
}
.ng-star-inserted {
  display: flex;
}
.navContainer {
  display: flex;
  margin-inline: 60px;
}

.navContainer-2 {
  display: flex;
  gap: 20px;
  margin-left: 28px;
}
.navContainer-2 h4 {
  color: black;
}

/*      #############################       */
.dropdown {
  position: relative;
}
.th-right ul li.dropdown.dropdown-toggle {
  cursor: pointer;
}
.th-right a {
  color: #fff;
}
.dropdown .dropdown-menu {
  font-size: 0.85rem;
  box-shadow: 0 0.15rem 1.75rem #3a3b4526 !important;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  padding: 0.5rem 0;
  margin: 2.125rem 0 0;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
ul .dropdown-menu .show li {
  margin-right: 0;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown .dropdown-menu {
  font-size: -85rem;
}
.dropdown-menu .dropdown-item {
  color: #212529;
}

.navData {
  display: flex;
  gap: 18px;
}

.navData-container {
  cursor: pointer;
}
.navItem {
  position: absolute;
  top: 111px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: auto;
}

.navItem ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.navItem li {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.navItem span {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.childModal {
  position: absolute;
  left: 90%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  max-width: auto;
}
